@model CongThongTinMobifone.Models.Post_cate

@{
    Layout = "~/Views/Shared/_LayoutAdmin1.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc sẽ xóa loại tin này không?</h3>
<div>
    <h4>Post_cate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PostCateID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Trở lại</a>
    </form>
</div>
