@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3924.7127029572684!2d105.44929889246066!3d10.3648409374914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zU-G7kSA5MyBUcuG6p24gSMawbmcgIMSQ4bqhbyBQLk3hu7kgUcO6eSBUcC5Mb25nIFh1ecOqbiBULkFuIEdpYW5n!5e0!3m2!1svi!2s!4v1684899746462!5m2!1svi!2s" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-lg-6">
            <h2>Select Menu Size</h2>
            <p>Use the .form-select-lg or .form-select-sm class to change the size of the select menu:</p>
            <form>
               <select class="form-select form-select-lg">
                 <option href="#">1</option>
                 <option>2</option>
                 <option>3</option>
                 <option>4</option>
               </select>
            </form>
        </div>
    </div>
</div>