@model IEnumerable<CongThongTinMobifone.Models.Post>

@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout_Trangchinh.cshtml";
}
<div class="col-12">
    <section>
    <div class="container">
        <div class="row">
            <h3 class="justify-content-between align-items-center">
                <b>
                    <span>Lịch sử hình thành Mobifone</span>
                </b>
            </h3>
            <hr />
            <div class="col-md-10">
                <p>
                    Được thành lập ngày 16/04/1993 với tên gọi ban đầu là Công ty thông tin di động. Ngày 01/12/2014, Công ty được chuyển đổi thành Tổng công ty Viễn thông MobiFone, trực thuộc Bộ Thông tin và Truyền thông, kinh doanh trong các lĩnh vực: dịch vụ viễn thông truyền thống, VAS, Data, Internet & truyền hình IPTV/cable TV, sản phẩm khách hàng doanh nghiệp, dịch vụ công nghệ thông tin, bán lẻ và phân phối và đầu tư nước ngoài.
                </p>
                <p>
                    Tại Việt Nam, MobiFone là một trong ba mạng di động lớn nhất với hơn 30% thị phần. Chúng tôi cũng là nhà cung cấp mạng thông tin di động đầu tiên và duy nhất tại Việt Nam được bình chọn là thương hiệu được khách hàng yêu thích trong 6 năm liền.
                </p>
                <p>
                        Hiện nay, MobiFone có gần 50 triệu thuê bao với gần 30.000 trạm 2G và 20.000 trạm 3G. Tổng doanh thu năm 2017 của MobiFone đạt xấp xỉ 2 tỷ đô la Mỹ.
                </p>
                <p>
                        <strong>1993:</strong>&nbsp;Thành lập Công ty Thông tin di động. Giám đốc công ty Ông Đinh Văn Phước.
                </p>
                <p>
                        <strong>1994:</strong>&nbsp;Thành lập Trung tâm Thông tin di động Khu vực I & II.
                </p>
                <p>
                        <strong>1995:</strong>&nbsp;Công ty Thông tin di động ký Hợp đồng hợp tác kinh doanh (BCC) với Tập đoàn Kinnevik/Comvik (Thụy Điển).
                        <br />Thành lập Trung tâm Thông tin di động Khu vực III.
                </p>
                <p>
                        <strong>2005:</strong>&nbsp;Công ty Thông tin di động ký thanh lý Hợp đồng hợp tác kinh doanh (BCC) với Tập đoàn Kinnevik/Comvik.
                        <br />Nhà nước và Bộ Bưu chính Viễn thông (nay là Bộ Thông tin và Truyền thông) có quyết định chính thức về việc cổ phần hoá Công ty Thông tin di động.
                        <br />Ông Lê Ngọc Minh lên làm Giám đốc Công ty Thông tin di động thay Ông Đinh Văn Phước (về nghỉ hưu).
                </p>
                <p>
                        <strong>2006:</strong> &nbsp;Thành lập Trung tâm thông tin di động Khu vực IV.
                </p>
                <p>
                        <strong>2008:</strong>&nbsp;Thành lập Trung tâm thông tin di động Khu vực V. Kỷ niệm 15 năm thành lập Công ty thông tin di động.
                        <br />Thành lập Trung tâm Dịch vụ Giá trị Gia tăng.
                        <br />Tính đến tháng 04/2008, MobiFone đang chiếm lĩnh vị trí số 1 về thị phần thuê bao di động tại Việt Nam.
                </p>
                <p>
                        <strong>2009:</strong>&nbsp;Nhận giải Mạng di động xuất sắc nhất năm 2008 do Bộ Thông tin và Truyền thông trao tặng; VMS – MobiFone chính thức cung cấp dịch vụ 3G; Thành lập Trung tâm Tính cước và Thanh khoản.
                </p>
                <p>
                        <strong>2010:</strong>&nbsp;Chuyển đổi thành Công ty TNHH 1 thành viên do Nhà nước làm chủ sở hữu.
                </p>
                <p>
                        <strong>2013:</strong>&nbsp;Kỷ niệm 20 năm thành lập Công ty Thông tin di động và đón nhận Huân chương Độc lập Hạng Ba.
                        <br />MobiFone là nhà cung cấp mạng thông tin di động đầu tiên và duy nhất tại Việt Nam (2005-2008) được khách hàng yêu mến, bình chọn cho giải thưởng mạng thông tin di động tốt nhất trong năm tại Lễ trao giải Vietnam Mobile Awards do tạp chí Echip Mobile tổ chức. Đặc biệt trong năm 2009, MobiFone vinh dự nhận giải thưởng Mạng di động xuất sắc nhất năm 2008 do Bộ thông tin và Truyền thông Việt nam trao tặng.
                </p>
                <p>
                        <strong>2014:</strong>
                        <br />&ensp;&ensp;<strong>Ngày 26/06: </strong>&nbsp;Ông Mai Văn Bình được bổ nhiệm phụ trách chức vụ Chủ tịch Công ty Thông tin di động.
                        <br />&ensp;&ensp;<strong>Ngày 10/07: </strong>&nbsp;Bàn giao quyền đại diện chủ sở hữu Nhà nước tại Công ty VMS từ Tập đoàn VNPT về Bộ TT&TT.
                        <br />&ensp;&ensp;<strong>Ngày 13/08: </strong>&nbsp;Ông Lê Nam Trà được bổ nhiệm chức vụ Tổng Giám đốc Công ty Thông tin di động.
                        <br />&ensp;&ensp;<strong>Ngày 01/12: </strong>&nbsp;Nhận quyết định thành lập Tổng công ty Viễn Thông MobiFone trên cơ sở tổ chức lại Công ty TNHH một thành viên Thông tin di động.
                </p>
                <p>
                        <strong>2015:</strong>&nbsp;<strong>Ngày 21/04</strong>&nbsp;Ông Lê Nam Trà được bổ nhiệm chức vụ Chủ tịch Hội đồng thành viên. Ông Cao Duy Hải được bổ nhiệm chức vụ Tổng Giám đốc Tổng công ty Viễn thông MobiFone.
                </p>
                <p>
                        <strong>2017:</strong>&nbsp;<strong>Ngày 15/08</strong>&nbsp;Ông Nguyễn Mạnh Thắng được bổ nhiệm giữ chức vụ Chủ tịch Hội đồng thành viên Tổng công ty Viễn thông MobiFone.
                </p>
                <p>
                        <strong>2018:</strong>&nbsp;<strong>Ngày 22/08</strong>&nbsp;Ông Nguyễn Đăng Nguyên được giao nhiệm vụ Phụ trách chức vụ Tổng giám đốc Tổng công ty Viễn thông MobiFone.
                </p>
            </div>
            <div class="col-md-2">
                <h4 class="p-title"><b>Bài viết</b></h4>
                <hr />
                @foreach (var item in Model)
                {
                    <div class="card" style="width:200px">
                        <a asp-action="Details" asp-route-id="@item.PostID">
                            <img class="card-img-top w-100" src="~/images/Post_avt/@Html.DisplayFor(modelItem => item.avatar)">

                            <div class="ml-120 min-h-100x smallpop">
                                <h5 class="poppost">@item.Post_title</h5>
                                <h6 class="color-lite-black pt-2 mb-1">
                                    <i class="fa fa-calendar-o mr-1"></i>@String.Format("{0:dd/MM/yyyy}", item.Date_created)
                                </h6>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    </section>
</div>