@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Tạo mới tài khoản thành công!
            Vui lòng bấm <a id="confirm-link" href="@Model.EmailConfirmationUrl">Xác nhận.</a> Nếu không tài khoản sẽ không được tạo!
</p>
    }
    else
    {
<p>
        Hãy kiểm tra email để xem thông tin xác nhận!
</p>
    }
}

